{{>system/header}}
<div class="content">
  <div class="wrapper">
    <div class="left-col">
      <h1 >
        <a href="/" class="logo" >Thot</a>
        <a href="#" class="modal">thot sos budget</a>
      </h1>

      <p class="edito">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam Lorem ipsum dolor sit amet, Vous pouvez utiliser notre formulaire ci-après ou consulter nos adresses.
      </p>
      <div class="left-incol">
        <img src="images/thot-sos-budget-logo.png" alt="THOT S.O.S BUDGET!">
      </div>
      <div class="right-incol">
        <h2>Formulaire pour recevoir la bande dessinée :</h2>
        <form action="">
          <p class="left-el"><label for="name">Nom</label><br />
            <input type="text" name="name" class="inputtext">
          </p>
          <p class="right-el"><label for="firstname">Prénom</label><br />
            <input type="text" name="firstname" class="inputtext">
          </p>
          <p class="full-el"><label for="company">Entreprise</label><br />
            <input type="text" name="company" class="inputtext">
          </p>
          <p class="left-el"><label for="phone">Téléphone</label><br />
            <input type="text" name="phone" class="inputtext">
          </p>
          <p class="right-el"><label for="email">Adresse mail</label><br />
            <input type="text" name="email" class="inputtext">
          </p>
          <p class="checkbox-el">
            <input type="checkbox" name="optin" class="checkbox">
            <label for="optin">J'accepte d'être contacté</label>
          </p>
          <p class="submit-el">
            <input type="submit"  class="submitbutton" value="Envoyer">
          </p>
        </form>

      </div>
      <p class="address">Contact : <a href="mailto:info@bizzdev.com">info@bizzdev.com</a></p>
    </div>
    <div class="right-col">
      <div class="bd">bd</div>
    </div>
  </div>
</div>
{{>system/footer}}
