{{>system/header}}
<div class="content">
  <div class="wrapper">
    <div class="overlay-content">
      <img src="images/thot-cover.jpg" alt="Thot S.O.S Budget">
    </div>
    <div class="left-col">
      <h1 >
        <a href="/" class="logo" >Thot</a>
        <a href="#" class="modal">thot sos budget</a>
      </h1>

      <p class="edito">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.<img src="images/arrow-down.png" alt=" " class="arrow-down-2"><span>Lorem ipsum dolor sit amet, Vous pouvez utiliser notre formulaire ci-après ou consulter nos adresses.</span>
      </p>
      <div class="left-incol">
        <img src="images/thot-sos-budget-logo.png" alt="THOT S.O.S BUDGET!">
      </div>
      <div class="right-incol">
        <h2>Formulaire pour recevoir la bande dessinée :</h2>
        <p class="tab-text">Pour recevoir la documentation et la bande dessinée “THOT, S.O.S. BUDGET !” :</p>
        <form action="">
          <p class="left-el"><label for="name">Nom</label><br>
            <input type="text" name="name" class="inputtext">
          </p>
          <p class="right-el"><label for="firstname">Prénom</label><br>
            <input type="text" name="firstname" class="inputtext">
          </p>
          <p class="full-el"><label for="company">Entreprise</label><br>
            <input type="text" name="company" class="inputtext">
          </p>
          <p class="full-el"><label for="position">Fonction</label><br>
            <input type="text" name="position" class="inputtext">
          </p>
          <p class="left-el"><label for="phone">Téléphone</label><br>
            <input type="text" name="phone" class="inputtext">
          </p>
          <p class="right-el"><label for="email">Adresse mail</label><br>
            <input type="text" name="email" class="inputtext">
          </p>
          <p class="checkbox-el">
            <input type="checkbox" name="optin" class="checkbox">
            <label for="optin">J'accepte d'être contacté</label>
          </p>
          <p class="submit-el">
            <input type="submit"  class="submitbutton" value="Envoyer">
          </p>
        </form>

      </div>

      <div class="address-container">
        <p class="emailaddress">Contact : <a href="mailto:info@bizzdev.com">info@bizzdev.com</a></p>
        <div class="half-col address">
          <strong>BIZZDEV Belgique</strong><br>
          Chaussée d’Antoing, 55<br>
          7500 Tournai - Belgique<br>
          Tél : + 32 69 66 95 10<br>
        </div>
        <div class="half-col-last address">
          <strong>BIZZDEV France</strong> <br>
          8, rue du Maréchal de Lattre de Tassigny <br>
          59000 Lille - France <br>
          Tél: +33 7 82 28 03 04 <br>
        </div>
        <div class="full address">
          <strong>BIZZDEV Luxembourg</strong><br>
          16 rue de Epernay <br>
          1490 Luxembourg - Luxembourg <br>
          Tél : +352 (0) 621 29 70 68 <br>
        </div>
      </div>
    </div>
    <div class="right-col">
      <div class="pages">
        <img src="images/planche-2.png" alt="thot planche 2" class="p2" >
        <img src="images/planche-3.png" alt="thot planche 3" class="p3" >
        <img src="images/planche-4.png" alt="thot planche 4" class="p4" >
        <img src="images/planche-5.png" alt="thot planche 5" class="p5" >
        <img src="images/planche-6.png" alt="thot planche 6" class="p6" >
        <img src="images/planche-7.png" alt="thot planche 7" class="p7" >
        <img src="images/planche-8.png" alt="thot planche 8" class="p8" >
        <img src="images/arrow-down.png" alt=" " class="arrow-down">
      </div>
    </div>
  </div>
</div>
{{>system/footer}}
